@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #37353d;
}

main {
  background-color: #f1f1f1;
  margin: 1rem auto;

  padding: 1rem;
  max-width: 850px;
}

.content {
  margin: 1rem auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 572px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
  }
}
