.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.normal-label {
  background-color: #63644b;
}

.grass-label {
  background-color: #4d8334;
}

.fire-label {
  background-color: #954207;
}

.water-label {
  background-color: #475b8a;
}

.electric-label {
  background-color: #887320;
}

.ice-label {
  background-color: #51b4b8;
}

.ground-label {
  background-color: #85723e;
}

.flying-label {
  background-color: #a097b9;
}

.poison-label {
  background-color: #611761;
}

.fighting-label {
  background-color: #7c0e08;
}

.psychic-label {
  background-color: #be2352;
}

.dark-label {
  background-color: #30251d;
}

.rock-label {
  background-color: #635828;
}

.bug-label {
  background-color: #596112;
}

.ghost-label {
  background-color: #3e3352;
}

.steel-label {
  background-color: #686777;
}

.dragon-label {
  background-color: #3d2579;
}

.fairy-label {
  background-color: #ca7491;
}
